.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: #eae7dc;
  width: 50vw;
  height: 95vh;
  border-radius: 10px;
  padding: 3em;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90vw;
    height: fit-content;
    padding: 0;
    padding-top: 3.5em;
    gap: 1em;
  }
}

@media screen and (min-width: 1600px) {
  .modal {
    width: 40vw;
    height: 80vh;
  }
}
